<?xml version="1.0"?>
<!--
 Copyright © 2017 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        
        <!-- master tab -->
        
        <tab id="wyomind" translate="label" sortOrder="1000000">
            <label><![CDATA[<span class='wyomind-logo'>Wyomind</span>]]></label>
        </tab>
        
        <!-- module tab -->
        
        <section id="cronscheduler" translate="label" sortOrder="130" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Cron Scheduler</label>
            <tab>wyomind</tab>
            <resource>Wyomind_CronScheduler::config</resource>
            
        </section>
    </system>
</config>